  img {
    border-radius: 8px;
    width: 20%;
     height: 20%ж
  }
  .wrapper{
    width: 1024px;
    padding: 30px 60px;
    margin: 0 auto;
    border-radius: 50px;
  }

  a {
    color:blue;
  }
  a:hover {
    color:rgb(13, 177, 226);
  }